#body{
    background-color: #ffe4c4;

}
#homeContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

}
#homeSubtitle{
    justify-content: center;
    align-content: center;
}



#homeBio{
    text-align: center;
}